<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I am a student from School of Electrical 
		Engineering and Informatics from Bandung 
		Institute of Technology. I am currently active in
		serveral extracurricular activities. Brainstorming
		for a solution of real-time problem is one of my
		hobbies. I have provided workplaces of mine 
		solutions in the form of applications which can 
		solve their problems
        </p>
        <p>
		<b>My skills including:</b>
		<ul>
    			<li>
            C++
    			</li>
          		<li>
            Python
          		<li>
            Object Oriented Programming
    			<li>
            Good Teamwork
    			</li>
		    </ul>
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Created a Cashier Program in Visual Basic for Applications, saving hundreds of transaction hours.
    			</li>
          		<li>
            Created a Salary Management Program in Visual Basic for Applications, saving hundreds of manager hours.
          		<li>
            Created new looks of education centre, making it more attractive
    			<li>
            Created a student management program in Visual Basic for Applications, saving hundreds of manager hours.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
