<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Application Development</b>. It's exciting to help people with the application I created.
			  </li>
			  <li>
				  <b>Learning</b>. I've been an enthusiastic in learning, it's just fun to learn new things and actually understand it.
			  </li>
			  <li>
				  <b>Playing Video Games</b>. I know this sounds weird, but playing video game has been the best thing ever, you can relax, play, and learn away.
      			  </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Activities</h3>
		  <ul>
  			<li>
          Take part in Latihan Kepemimpinan Mahasiswa by ITB
    		</li>
  			<li>
          Working as head of communcation media and extra-campus realtion division for Shorinji Kempo ITB.
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
				Active member of <b>U</b>nit <b>R</b>enang dan <b>P</b>olo <b>A</b>ir (URPA) ITB.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
